@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.banner-top{
    width: 100%;
    height: 100vh;
    background-image: url(imagens/backgroundEDITADA.png);
    background-size: cover;

}

.menu{
    position: relative;
}

.icone{
    margin: 20px;
    cursor: pointer;
    transition: 500ms;
}

.menu-itens{
    background-color: rgba(255, 0, 0, 0.389);
    padding: 20px;
    width: 200px;
    position: absolute;
    left: -210px;
    transition: 1s;
}

.menu-itens li{
   
    list-style: none;
    font-family: 'Abel', sans-serif;

}
.menu-itens li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.menu-itens li a:hover{
    border-left: 3px solid whitesmoke;
    padding-left: 10px;
   
}

h1{
    color: white;
    padding: 50px 10px 60px 100px;
}
.lamborguini{
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
}


.img{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.img :hover{
transform: scale(0.9);
transition: 1s;
}
.img p{
display: flex;
justify-content: center;
text-align: center;
}
p{
    color: white;
}

a{
    
    text-decoration: none;
}

/*ferrari aqui*/
.ferrari{
    width: 100%;
    height: 90vh;
    background-color: rgb(19, 17, 17);
}

/*bwm aqui*/
.bmw{
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
}